@import url('//cdn.datatables.net/1.10.2/css/jquery.dataTables.css');

#clearLayerList {
	position: relative;
	display: block;
	padding: 0.75rem 1.25rem;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.125);
	text-transform: uppercase;
}

#searchMenuList {
	word-break: break-all;
}

.layerListDataRowNameDiv {
	word-break: break-all;
}

.layerListDataRowButtonsDiv {
	word-break: break-all;
}

/*layer preview*/
.layerPreview {
	/* cursor: pointer; */
	transition: 0.3s;
	height: 75px;
	width: 75px;
	border: 1px solid grey;
}

.layerPreview:hover {
	opacity: 0.7;
}
/* /layer preview*/
td.details-controlRowGroup {
	background: url('https://image.flaticon.com/icons/svg/137/137621.svg')
		no-repeat center center;
	cursor: pointer;
}

tr.shown td.details-controlRowGroup {
	background: url('https://image.flaticon.com/icons/svg/137/137621.svg')
		no-repeat center center;
}

td.details-control {
	background:
		url('http://www.datatables.net/examples/resources/details_open.png')
		no-repeat center center;
	cursor: pointer;
}

tr.shown td.details-control {
	background:
		url('http://www.datatables.net/examples/resources/details_close.png')
		no-repeat center center;
}

.requiredInput {
	text-transform: lowercase;
	color: red;
}

#dataCatalogueContainer {
	width: 100%;
	margin: 0;
	height: 100%;
}

/* -- MAIN MENU SIDEBAR  -- */
#explore-toggle-container {
	height: 82px;
	width: 82px;
	border: 1px solid #ADADBC;
	background-color: #596E82;
	color: #FFFFFF;
	font-family: NotesEsaReg;
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
	position: absolute;
	z-index: 1000;
	right: 0;
}

#explore-toggle-icon {
	color: #FFFFFF;
	font-family: NotesEsaReg;
	text-orientation: upright;
}

#mainMenuContainer {
	height: 100%;
}

#overlaySearchMenu {
	height: 100%;
	width: 25%;
	border: 1px solid #0098DB;
	background-color: #FFFFFF;
	position: absolute;
	z-index: 1000;
}

#sideBarMenu {
	height: 100%;
	width: 25%;
	position: absolute;
	z-index: 1000;
}

.subMenuContainer {
	background-color: #596E82;
}

.subMenuContainer:hover {
	cursor: pointer;
}

.subMenuTitle {
	color: #FFFFFF;
	font-family: NotesEsaReg;
	font-size: 25px;
	font-weight: bold;
	line-height: 29px;
	padding: 12px;
}

.navItemData {
	height: 82px;
}

.navItemDataCookie {
	height: 82px;
	border: 1px solid #008542;
}

.navLinkContainer {
	padding: 12px;
}

.navItemLink {
	height: 22px;
	width: 129px;
	color: #244782;
	font-family: NotesEsaReg;
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
	height: 22px;
}

.navItemLinkCookie {
	height: 22px;
	width: 129px;
	color: #008542;
	font-family: NotesEsaReg;
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
	height: 22px;
}

.navSearchButton {
	width: 90%;
	background-color: #008542;
}

.navSearchButtonText {
	color: #FFFFFF;
	font-family: Roboto;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	text-align: center;
}

.navItemData:hover {
	background-color: #008542;
	color: white;
	cursor: pointer;
}

.navItemData:hover .navItemLink {
	color: white;
}

.applyButtons {
	width: 90%;
	background-color: #008542;
	color: #FFFFFF;
	font-family: Roboto;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	text-align: center;
	padding: 12px;
}

.mainMenuBack {
	cursor: pointer;
	background-color: #008542;
	color: white;
	word-break: break-all;
}

.mainMenuBackLink {
	color: white;
	height: 22px;
	width: 129px;
	font-family: NotesEsaReg;
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
	height: 22px;
}

.inputLabel {
	height: 16px;
	color: #546E84;
	font-family: Arial;
	font-size: 14px;
	line-height: 16px;
}

.categorySubTitleActive {
	height: 14px;
	width: 33px;
	color: #008542;
	font-family: NotesEsaReg;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	border-bottom: 1px solid #008542;
	padding-bottom: 3px;
}

.categorySubContainer {
	padding: 15px;
}

/* -- MAIN MENU SIDEBAR - LOCATION FORM  -- */
.locationButtons {
	border: 1px solid #008542;
	background-color: #FFFFFF;
	color: #008542;
	font-family: Roboto;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	text-align: center;
	padding-bottom: 12px;
	padding-top: 12px;
	margin-bottom: 12px;
	margin-top: 12px;
	width: 158px;
	margin-top: 12px;
}

.locationInputs {
	width: 90%;
	border: 1px solid #9AA5B8;
	background-color: #FFFFFF;
	margin: auto;
}

#addBtnLocation {
	width: 90%;
	font-family: Roboto;
	font-size: 16px;
	border: 1px solid #008542;
	background-color: #FFFFFF;
	width: 90%;
}

#selectedCoordinates {
	height: 16px;
	width: 205px;
	color: #546E84;
	font-family: Arial;
	font-size: 14px;
	line-height: 16px;
}

.coordinatesSearch {
	color: #06456B;
	font-family: NotesEsaReg;
	font-size: 16px;
}

/* -- MAIN MENU SIDEBAR - DATA CATEGORY FORM  -- */
.dataCategoryInputs {
	width: 100%;
	border: none;
	border-radius: 0px;
	border-bottom: 1px solid #aaa;
	outline: none;
	margin: 0px;
}

.categorySubContainer .tab-pane {
	margin-top: 20px;
}

/* A CHANGER */
.container {
	margin-left: 0px;
	margin-right: 0px;
}

#searchmap {
	width: 100%;
	height: 100%;
	/* z-index: 200; */
}

/* LAYERLIST */
.menuItemLayerList {
	color: #546E84;
	font-family: Arial;
	font-size: 14px;
	line-height: 16px;
	padding: 0.25rem 1.5rem;
	font-size: 14px;
}

.important-bmap {
	color: #008542;
	font-family: NotesEsaReg;
}

.layerListItem {
	color: #06456B;
	font-family: NotesEsaReg;
	font-size: 17px;
	line-height: 24px;
}

.layerListButton {
	margin: 5px;
	color: DarkSlateGrey;
	height: 37px;
	width: 37px;
	border-radius: 2px;
	background-color: #F6F6F9;
	box-shadow: 0 2px 6px 0 #DAD9E2;
	height: 37px;
	color: grey;
}

.dropdown-menu {
	border: 1px solid #9AA5B8;
	background-color: #FFFFFF;
	width: 500px !important;
	height: 400px !important;
	background-color: #FFFFFF;
}

.dropdown-menu dt {
	color: #008542;
	font-family: NotesEsaReg;
}

.dropdown-menu dd {
	color: #06456B;
	font-family: NotesEsaReg;
	line-height: 24px;
}

#resultListDiv {
	overflow: scroll;
	font-family: NotesEsaReg;
	max-height: 50%;
	max-width: 70%;
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: white;
	z-index: 150;
	padding: 40px;
	border: 1px solid #0098DB;
	background-color: white;
}

.dataTableHeader {
	color: #596E82;
	font-family: NotesEsaReg;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.55px;
	line-height: 17px;
	text-align: center;
}

.dataTableValues {
	color: #06456B;
	font-family: NotesEsaReg;
	font-size: 16px;
	letter-spacing: 0.12px;
	line-height: 22px;
	text-align: center;
}

.dataTables_wrapper .dataTables_filter input {
	border: 1px solid #9AA5B8;
	background-color: #FFFFFF;
}

.dtrg-group {
	text-transform: uppercase;
	color: #008542;
	font-weight: bold;
	background-color: #C1C7D3;
}

#collapseCatalogue {
	border: 1px solid #ADADBC;
	background-color: #596E82;
	color: #FFFFFF;
	font-family: NotesEsaReg;
	font-size: 20px;
	font-weight: bold;
	line-height: 22px;
	z-index: 1000;
	word-wrap: break-word;
}

#menu {
	position: relative;
}

.glyphicon-menu-right {
	color: #C2C2C2;
}

#overlay {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	background-color: white;
	/* 	box-shadow: 5px 5px 9px #aaa; */
	z-index: 100;
	width: 20%;
	transition: 0.5s;
	border: 1px solid #0098DB;
	overflow-y: auto;
}

.closebtn {
	font-size: 16px;
}

.exploreToggle {
	top: 0;
	left: 0;
	background-color: unset;
}

.panel {
	z-index: 2000;
}

.dataResultToggle {
	bottom: 0;
	right: 0;
	background-color: #596E82;
	height: 50px;
	width: 150px;
	color: #FFFFFF;
	font-family: NotesEsaReg;
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
}

.dataResultToggle button {
	width: 150px;
	height: 50px;
}

.exploreToggle button {
	width: 70px;
	height: 70px;
	background-color: #596E82;
	font-family: Roboto;
	word-wrap: break-word;
}

.ol-control:hover {
	background-color: unset;
}

.ol-control button:hover {
	cursor: pointer;
	background-color: #008542;
	box-shadow: 2px 2px 2px 2px #888888;
}

.ol-control {
	position: absolute;
	background-color: unset;
	border-radius: 4px;
	padding: 2px;
}

.ol-control button {
	background-color: #596E82;
}

#locationSearch {
	display: none;
}

#dataCategorySearch {
	display: none;
}

#periodSearch {
	display: none;
}

.btn-add-data {
	height: 34.43px;
	width: 65px;
	background-color: #008542;
	color: white;
	font-size: 15px;
}

.btn-add-data:hover {
	border: 1px solid #008542;
	background-color: white;
	color: #008542;
	font-size: 15px;
}

.btn-remove-data {
	height: 34.43px;
	width: 65px;
	background-color: white;
	color: #008542;
	border: 1px solid #008542;
	font-size: 15px;
}

.dataRow-btn {
	background-color: #F6F6F9;
	border: 0;
}

.dataRow-btn-logo {
	height: 16.36px;
	width: 20px;
}
/* VISUALISATION */
.ol-full-screen {
	right: .5em;
	top: 7em;
}

.visualisationTitle {
	color: #008542;
	font-family: NotesEsaReg;
	font-size: 24px;
	line-height: 28px;
}

.visualisationSubTitle {
	color: #06456B;
	font-family: NotesEsa;
	font-size: 20px;
	line-height: 24px;
}

.ol-mouse-position {
	font-family: NotesEsaReg;
	color: #fff;
	font-size: 18px;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px
		0 #000;
	white-space: pre-wrap;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px
		0 #000;
	left: 50%;
	z-index: 3000;
}

.mapSingleLayer {
	height: 600px;
	width: 100%;
	padding: 10px;
}

.visualisationButton {
	margin: 5px;
	color: DarkSlateGrey;
	height: 37px;
	width: 37px;
	border-radius: 2px;
	background-color: #F6F6F9;
	box-shadow: 0 2px 6px 0 #DAD9E2;
	height: 37px;
	color: grey;
}

.featureinfoContainer {
	font-family: NotesEsaReg;
}

.visualisationContainer {
	border: 1px solid #0098DB;
	background-color: #FFFFFF;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	overflow: auto;
	padding: 20px;
}

.featureInfo-layerName {
	color: #008542;
	font-family: NotesEsaReg;
}

.featureInfo-keyValue {
	color: #06456B;
	font-family: NotesEsaReg;
}

/* popup style */
.ol-popup {
	max-width: 300px;
	min-width: 100px;
	min-height: 1em;
	word-break: break-all;
}
/* Image on popup */
.ol-popup img {
	float: left;
	margin: 0 0.5em 0 0;
	max-width: 100px;
	max-height: 100px;
}
/* SPINNER STYLE */
#spinner {
	text-align: center;
	display: none;
	width: 70px;
	width: 70px;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 2px;
	z-index: 5000;
	/* filter: blur(1px); */
}

.loading:before {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: 10px;
	text-indent: -9999em
}

.loader-animation-8 .loading:before, .loading:before {
	width: 8em;
	height: 8em;
	margin: -5em 0 0 -5em;
	border: 1em solid rgba(0, 133, 66, 1);
	border-left: 1em solid rgba(0, 0, 0, 0);
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: 0 0;
	-webkit-animation: loader-animation-8 1.1s infinite linear;
	animation: loader-animation-8 1.1s infinite linear;
	-webkit-transform: translateZ(0);
	transform: translateZ(0)
}

@
-webkit-keyframes loader-animation-8 { 0%{
	-webkit-transform: rotate(0);
	transform: rotate(0)
}

100%{
-webkit-transform




































:rotate(360deg)




































;
transform




































:rotate(360deg)




































}
}
@
keyframes loader-animation-8 { 0%{
	-webkit-transform: rotate(0);
	transform: rotate(0)
}

100%{
-webkit-transform




































:rotate(360deg)




































;
transform




































:rotate(360deg)




































}
}

/* / SPINNER STYLE*/
.dataOverview {
	color: #06456B;
	font-family: NotesEsaReg;
}

.ol-zoom {
	right: 0;
	bottom: 5.5em;
	top: unset;
	left: unset;
}

.ol-geocoder.gcd-gl-container {
	box-sizing: unset;
	left: unset;
	position: unset;
	top: unset;
}

/* Visualisation gallery */
.gallery-title {
	font-size: 36px;
	color: #42B32F;
	text-align: center;
	font-weight: 500;
	margin-bottom: 70px;
}

.gallery-title:after {
	content: "";
	position: absolute;
	width: 7.5%;
	left: 46.5%;
	height: 45px;
	border-bottom: 1px solid #5e5e5e;
}

.filter-button {
	font-size: 18px;
	border: 1px solid #42B32F;
	border-radius: 5px;
	text-align: center;
	color: #42B32F;
	margin-bottom: 30px;
}

.filter-button:hover {
	font-size: 18px;
	border: 1px solid #42B32F;
	border-radius: 5px;
	text-align: center;
	color: #ffffff;
	background-color: #42B32F;
}

.btn-default:active .filter-button:active {
	background-color: #42B32F;
	color: white;
}

.port-image {
	width: 100%;
}

.gallery_product {
	margin-bottom: 30px;
}

#layerlist {
	width: 25%;
	height: 100%;
	float: left;
}

#visualisationWorkspace {
	width: 75%;
	height: 100%;
	margin-left: 25%;
}

#myTab .nav-item {
	font-family: NotesEsaReg;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
}

#myTab .nav-link.active {
	font-family: NotesEsaReg;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	color: #008542;
}

a {
	color: #00338D;
}

.aui-button ~.aui-button {
	margin-left: unset;
}

.ol-popup.default {
	border: 0.5px solid #0098DB;
	border-radius: unset;
}

.resultListCollapse {
	color: #008542;
	background-color: transparent;
	border: 0;
	box-shadow: unset;
	font-size: 20px;
}

#countLayersNav {
	margin-left: 10px;
}

/* Visualisation gallery */
.colorGradientGrayScaleBW {
	height: 10px;
	width: 40px;
	background: linear-gradient(to right, #000000 0%, #ffffff 100%)
}

.colorGradientGrayScaleWB {
	height: 10px;
	width: 40px;
	background: linear-gradient(to right, #ffffff 0%, #000000 100%)
}

.colorGradientGreenScale {
	height: 10px;
	width: 40px;
	background: linear-gradient(to right, #ffffff 0%, #008000 100%)
}

.colorGradientOrangeScale {
	height: 10px;
	width: 40px;
	background: linear-gradient(to right, #ffffff 0%, #FF8C00 100%)
}

.colorGradientPlasmaScale {
	height: 10px;
	width: 40px;
	background: linear-gradient(to right, #0000FF 0%, #F00C93 100%, #FFFF00 100%)
}

.colorGradientInfernoScale {
	height: 10px;
	width: 40px;
	background: linear-gradient(to right, #000000 0%, #FFFF00 100%, #FFFF00 100%)
}

.colorGradientPRGnScale {
	height: 10px;
	width: 40px;
	background: linear-gradient(to right, #8A2BE2 0%, #ffffff 100%, #008000 100%)
}

.colorGradientPiYGScale {
	height: 10px;
	width: 40px;
	background: linear-gradient(to right, #F00C93 0%, #ffffff 100%, #008000 100%)
}

.colorGradientRedToGreenScale {
	height: 10px;
	width: 40px;
	background: linear-gradient(to right, #FF0000 0%, #FFFF00 100%, #80FF00 100%)
}

.colorGradientGrayScale {
	height: 10px;
	width: 40px;
	background: linear-gradient(to right, #000000 0%, #ffffff 100%, #80FF00 100%)
}

.attributeTableTitle {
	color: #082559;
	font-family: NotesEsaReg;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 0.59px;
	line-height: 18px;
	text-align: center;
}

.attributeTableContent {
	color: #06456B;
	font-family: NotesEsaReg;
	font-size: 18px;
	letter-spacing: 0.12px;
	line-height: 22px;
}

.inputExample {
	padding-bottom: 10px;
}

.attributeTableTitle {
	color: #082559;
	font-family: NotesEsaReg;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 0.59px;
	line-height: 18px;
	text-align: center;
}

.attributeTableContent {
	color: #06456B;
	font-family: NotesEsaReg;
	font-size: 18px;
	letter-spacing: 0.12px;
	line-height: 22px;
}

.attributeTableCell {
	border: 1px solid #C1C7D3;
}

.page-item.active .page-link {
	z-index: 1;
	color: rgb(255, 255, 255);
	background-color: #008542;
	border-color: #008542;
}

.pagination>li>a {
	position: relative;
	float: left;
	background-color: #fff;
	border: 1px solid #dee2e6;
	color: #008542;
	line-height: 1.25;
	margin-left: -1px;
	padding: 0.5rem 0.75rem;
}

select.dataCategoryInputs {
	box-sizing: border-box;
	color: #546E84;
	font-family: Arial;
	font-size: 14px;
	line-height: 33px;
}

.dataCategoryInputs, .periodInput, .locationInputs {
	color: #546E84;
	font-family: Arial;
	font-size: 14px;
	line-height: 33px;
}

.form-control:focus {
	color: #495057;
	background-color: rgba(0, 133, 66, 0.07);
	border-color: rgba(0, 133, 66, 0.09);
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 133, 66, 0.07);
}

.ol-geocoder ul.gcd-gl-result {
	top: 6em;
}

/* ---------- INFO BOX STYLE ----------*/
.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	word-break: break-all;
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	width: 500px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	z-index: 1;
}

/* Style the active class, and buttons on mouse-over */
/* .active, .btn-dataRow-info:hover {
	background-color: #666;
	color: white;
} */
.dropdown:hover .dropdown-content {
	display: block;
}
/* ---------- INFO BOX STYLE ----------*/