<maap-esa-portal-carousel>
  <ng-template maapEsaPortalCarouselSlide>
    <div class="slide">
      <img src="./assets/HP-image.jpg" alt="slide image" />
      <div class="slide-modal">
        <div class="slide-modal-layout">
          <div class="slide-card-container">
            <div class="slide-card">
              <div class="slide-card-body">
                <div class="slide-card-subtitle">Welcome</div>
                <div class="slide-card-title">Welcome to the ESA MAAP</div>
                <div class="welcome-button">
                  <a href="https://portal.val.esa-maap.org/portal-val/ESA/assets/MAAP_video.mp4" target="_blank">Start the Video</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template maapEsaPortalCarouselSlide>
    <div class="slide">
      <img src="./assets/img1.jpg" alt="slide image" />
      <div class="slide-modal">
        <div class="slide-modal-layout">
          <div class="slide-card-container">
            <div class="slide-card">
              <div class="slide-card-body">
                <div class="slide-card-subtitle">Process and Visualize</div>
                <div class="slide-card-title">
                  Process and visualize Radar data
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template maapEsaPortalCarouselSlide>
    <div class="slide">
      <img src="./assets/img3.jpg" alt="slide image" />
      <div class="slide-modal">
        <div class="slide-modal-layout">
          <div class="slide-card-container">
            <div class="slide-card">
              <div class="slide-card-body">
                <div class="slide-card-subtitle">Share and Collaborate</div>
                <div class="slide-card-title slide-card-title3">
                  Share and collaborate on projects with scientists
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</maap-esa-portal-carousel>
