<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a class="navbar-item logo" href="{{env.portalURL}}"><img src="{{uiRootPath}}/img/logo.png" width="128"></a>
        <span class="separator">//</span>
        <a href="{{site.url}}{{site.homeUrl}}">Docs</a>
      </div>
      <div class="navbar-item search hide-for-print">
        <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
      </div>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
        </div>
      </div>
    </div>
  </nav>
</header>
