<div class="carousel-indicators" role="tablist">
  <div class="carousel-indicators-list">
    <button
      type="button"
      data-bs-target
      *ngFor="let slide of slides"
      [class.active]="slide.id === activeId"
      role="tab"
      [attr.aria-labelledby]="'slide-' + slide.id"
      [attr.aria-controls]="'slide-' + slide.id"
      [attr.aria-selected]="slide.id === activeId"
      (click)="focus(); select(slide.id)"
    ></button>
  </div>
</div>
<div class="carousel-inner">
  <div
    *ngFor="let slide of slides"
    class="carousel-item"
    [id]="'slide-' + slide.id"
    role="tabpanel"
  >
    <ng-template [ngTemplateOutlet]="slide.tplRef"></ng-template>
  </div>
</div>
<button class="carousel-control-prev" type="button" (click)="arrowLeft()">
  <div class="carousel-control-icon">
    <img src="./assets/svg/carrousel-arrow-left-blue.svg" />
    <img src="./assets/svg/carrousel-arrow-left-white.svg" />
  </div>
</button>
<button class="carousel-control-next" type="button" (click)="arrowRight()">
  <div class="carousel-control-icon">
    <img src="./assets/svg/carrousel-arrow-right-blue.svg" />
    <img src="./assets/svg/carrousel-arrow-right-white.svg" />
  </div>
</button>
